# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

Fijaos que es un tsv. Eso significa "Tab separated value". IMPORTANTE: El separador es "\t"

In [25]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
sep = "\t"
header = 0
index_col = 0

chipo.head

<bound method NDFrame.head of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

### Step Extra:

Si os fijais, la columna item_price es un string. Hay que quitar el signo del dolar y convertir a float para poder trabajar. 

Hay maneras cool de hacer esto, pero os recomiendo lo siguiente:
- haced un bucle for del df (iterrows)
- guardaros en una lista (append) el valor sin el dolar y convetido a float
- actualizad el valor de esa columna con la nueva lista

In [26]:
item_price_clean = chipo["item_price"].astype(str).str.replace("$", "").astype(float)
chipo["item_price_clean"] = item_price_clean

In [27]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,item_price_clean
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

### Step 3. Name of the max valued product

In [30]:
max_product = chipo.loc[:,"item_price_clean"].max()

mask = chipo.loc[:,"item_price_clean"] == max_product

chipo2 = chipo.loc[mask]
chipo2["item_name"]

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [31]:
#Otra forma

money_sn_dolar = []

for index, row in chipo.iterrows():
    money_sn_dolar.append(float(row['item_price'].replace('$', '')))

chipo['item_price'] = money_sn_dolar

chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_clean
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

NameError: name 'item_price' is not defined

### Step 4. How many products cost more than $10.00?

In [42]:
productos_mayores_a_10 = chipo.loc[chipo.loc[:,'item_price_clean'] > 10]

# # Contar cuántos productos cumplen con esta condición
# cantidad_productos = productos_mayores_a_10.shape[0]

# print(f"El número de productos que cuestan más de 10 dólares es: {cantidad_productos}")

print(productos_mayores_a_10)

      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
13           7         1        Chicken Bowl
23          12         1     Chicken Burrito
...        ...       ...                 ...
4610      1830         1       Steak Burrito
4611      1830         1      Veggie Burrito
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl

                                     choice_description  item_price  \
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...       10.98
...                                                 ...         ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25

      item_price_clean
4                16.98
5                10.98
7                11.75
13               11.25
23               10.98
...                ...
4610             11.75
4611             11.25
4617             11.75
4618             11.75
4619             11.25

[1130 rows x 6 columns]

In [44]:
cantidad = len(productos_mayores_a_10)
cantidad

1130

In [46]:
productos_mayores_a_10

,order_id,quantity,item_name,choice_description,item_price,item_price_clean
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

In [ ]:
#Otra forma de hacerlo

len(chipo.loc[chipo.loc[:, "price"] > 10])

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [36]:
# Filtrar los productos con precios mayores a 10
productos_mayores_a_10 = chipo[chipo['item_price_clean'] > 10]

# Contar los pedidos únicos con productos mayores a 10
pedidos_mayores_a_10 = productos_mayores_a_10['order_id'].nunique()

print(f"El número de pedidos con un producto de más de 10 dólares es: {pedidos_mayores_a_10}")

El número de pedidos con un producto de más de 10 dólares es: 863

In [49]:
(chipo.loc[chipo.loc[:,'item_price_clean'] > 10,["quantity"]]).sum()

quantity    1314
dtype: int64

### Step 5. a - How much money we earned selling our most expensive product?

Busca el producto mas caro (si hay mas de uno da igual, coge el uno de ellos). Guardate su nombre y precio.
Filtra las filas por ese producto con el nombre.
Multiplica las cantidades del resultado filtrado por el precio que guardaste.

In [ ]:
pro_mas_caro= chipo.loc[:, item_price].max()

### Step 5. b - How much money we earned selling our cheapest product?

Lo mismo que antes pero con el mas barato.

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
mask = chipo.loc[:,"item_name"] == "Veggie Salad Bowl"

veggie_salad_orders = mask.sum()

veggie_salad_orders

### Step 9. How many times did someone order more than one Canned Soda?

In [50]:
mask = chipo.loc[:,"item_name"] == "Canned Soda"

veggie_salad_orders = mask.sum()

veggie_salad_orders

np.int64(104)